.container {
    margin: 0 auto;
    width: 500px;
}
.other {
    background-color: hsl(0, 0%, 78%);
}
.math {
    background-color: hsl(180, 1%, 62%);
}
.equals {
    background-color: hsl(34, 83%, 54%);
}
