html {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f2b792, #e58866); }

.container {
  margin: 0 auto;
  height: auto;
  width: 400px;
  box-shadow: 0 0 7px rgba(38, 38, 38, 0.6); }

.formula {
  width: 100%;
  height: 35px;
  background: rgba(199, 199, 199, 0.6);
  color: rgba(77, 77, 77, 0.6);
  text-align: right;
  padding-top: 13px;
  padding-right: 10px; }

.display {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding-top: 15px;
  padding-right: 10px;
  border: none;
  width: 400px;
  height: 100px;
  text-align: right;
  font-size: 2em; }

.buttons {
  width: 400px;
  height: 500px; }

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 20%; }

.btn {
  display: inline-block;
  text-align: center;
  height: 100%;
  border: none;
  outline: none; }
  .btn:hover {
    cursor: pointer; }

.other {
  background-color: #c7c7c7;
  width: 25%; }
  .other:hover {
    background-color: #d1d1d1; }

.math {
  background-color: #9d9f9f;
  width: 25%; }
  .math:hover {
    background-color: #aaacac; }

.number {
  background: #bfbfbf;
  width: 25%; }
  .number:hover {
    background: #cccccc; }

.equals {
  background-color: #eb9728;
  width: 50%; }
  .equals:hover {
    background: #eda240; }

.clear {
  background-color: #c7c7c7;
  width: 50%; }
  .clear:hover {
    background-color: #d1d1d1; }
